.catalog {
  @include container(1660, 15);
  padding-top: 209px;
  padding-bottom: 60px;
}

.catalog__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 108px;

  &::before {
    @include before;
    width: 100%;
    max-width: 1648px;
    height: 243px;
    background-image: url(../img/catalog_text.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    top: 14px;

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: $tablet_max) {
  .catalog {
    padding-top: 100px;
  }

  .catalog__title {
    margin-bottom: 52px;

    &::before {
      display: none;
    }
  }
}

@media (max-width: $mobile_max) {
  .catalog__title {
    margin-bottom: 20px;
  }
}
