.footer {
  @include container(1816, 21);
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 29px;
  overflow: hidden;

  &::before {
    @include before;
    position: relative;
    height: 1px;
    width: 100%;
    margin-bottom: 18px;
    background-color: rgba($white, $opacity_02);
  }
}

.footer__menu {
  margin-bottom: 25px;

  a {
    @include footer_link;
    transition: $transition;

    &:active {
      color: $white;
      opacity: $opacity;
    }
  }

  a+a {
    margin-left: rem(57);
  }
}

.footer__socials {
  display: flex;

  li+li {
    margin-left: rem(48);
  }
}

.footer--page {
  display: none;
}

@media (max-width: $tablet_max) {
  .footer {
    padding-top: 35px;
    padding-bottom: 38px;

    &::before {
      margin-bottom: 41px;
    }
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;

    a+a {
      margin-left: 0;
      margin-top: 22px;
    }
  }

  .footer--page {
    display: flex;
  }
}

@media (max-width: $mobile_max) {
  .footer {
    padding-bottom: 29px;

    &::before {
      margin-bottom: 30px;
    }
  }

  .footer__menu {
    margin-bottom: 46px;

    a+a {
      margin-top: 11px;
    }
  }
}

@media (min-width: $no_mobile) {

  .footer__menu a:hover,
  .footer__menu a:focus {
    color: $white;
  }
}
