$max_width_block:552px;

.page_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: calc(51.875% + 114px);
  margin-top: 98px;
  margin-right: 15px;

  &::before {
    @include before;
    @include container(1920);
    width: 51.875%;
    max-width: 996px;
    min-height: calc(100% - 30px*2);
    left: 30px;
    top: 30px;
    border: 1px solid rgba($white, $opacity_02);
    background-color: transparent;
    z-index: 2;
  }
}

.page_block__title {
  @include page_block_title;
  max-width: $max_width_block;
  margin: 0;
  margin-bottom: 50px;
}

.page_block__text {
  @include page_block_text;
  max-width: $max_width_block;
  margin: 0;
  margin-bottom: 31px;
  text-shadow: 0 4px 4px rgba($black, 0.25);
}

.page_block__button {
  display: flex;
  max-width: 135px;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}

.page_block__link {
  @include page_block_text;
  display: flex;
  align-items: center;
  margin: 180px 80px 45px auto;
  color: $white;

  span {
    display: flex;
    margin-right: 29px;
    transition: $transition;
  }

  svg {
    width: 17px;
    height: 17px;
    fill: transparent;
    transition: $transition;
  }

  &:active {
    color: $black;

    svg {
      fill: $white;
      opacity: $opacity;
    }
  }
}

.page_block__background {
  position: absolute;
  min-height: 100%;
  width: 51.875%;
  max-width: 996px;
  top: 0;
  left: 0;
  background-position: 0 center;
  background-size: cover;
  z-index: -1;
}

.page_block__background--1 {
  @include background("page1_background", "jpg", $accent_1, "true", "true");
}

.page_block__background--2 {
  @include background("page2_background", "jpg", $accent_1, "true", "true");
}

.page_block__background--3 {
  @include background("page3_background", "jpg", $accent_1, "true", "true");
}

.page_block__background--4 {
  @include background("page4_background", "jpg", $accent_1, "true", "true");
}

@media (max-width: $tablet_max) {
  .page_block {
    margin: 18px 0 0;

    &::before {
      display: none;
    }
  }

  .page_block__title,
  .page_block__text {
    max-width: 95%;
    padding-left: 49px;
    padding-right: 49px;
  }

  .page_block__title {
    margin-bottom: 32px;
  }

  .page_block__text {
    margin-bottom: 37px;
  }

  .page_block__button {
    max-width: 170px;
    margin-left: 49px;
    margin-right: 49px;
    margin-bottom: 34px;
  }

  .page_block__background {
    position: relative;
    min-height: 518px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    order: -2;
  }

  .page_block__slider {
    order: -1;
    margin: 0 60px 66px;
  }

  .page_block__link {
    display: none;
  }
}

@media (max-width: $mobile_max) {
  .page_block {
    margin: 0;
  }

  .page_block__background {
    min-height: 443px;
    margin-bottom: 28px;
  }

  .page_block__title,
  .page_block__text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .page_block__title {
    margin-bottom: 27px;
  }

  .page_block__text {
    max-width: 100%;
    line-height: 22px;
  }

  .page_block__button {
    max-width: 37.1%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 48px;
  }

  .page_block__slider {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 20px;
    order: 1;
  }
}

@media (min-width: $no_mobile) {

  .page_block__link:hover,
  .page_block__link:focus {
    color: $black;

    span {
      color: rgba($white, $opacity_06);
    }

    svg {
      fill: $white;
    }
  }
}
