.products {
  @include list;
  counter-reset: myCounter;

  li {
    display: flex;
    min-height: 472px;
    box-shadow: 0 0 0 1px transparent inset;
    transition: $duration_03 $duration_03;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px rgba($white, $opacity_02) inset;
      transition: $duration_03;
    }
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% - 20px);
  min-height: 452px;
  margin: auto;
  overflow: hidden;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($black, $opacity_06);
    z-index: -1;
    transition: $duration_03 $duration_03;
  }
}

.products__number {
  position: absolute;
  display: block;
  width: rem(102);
  height: 22px;
  margin: 0;
  top: 36px;
  left: 20px;
  overflow: hidden;

  &::before {
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter, decimal-leading-zero);
    left: 0;
    bottom: 0;
    color: $white;
    transition: $transition;
  }

  span {

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: rem(70);
      height: 1px;
      bottom: 4px;
      background-color: $white;
      transition: $transition;
    }

    &::before {
      right: 0;
    }

    &::after {
      left: -1*rem(100);
    }
  }
}

.products__img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
}

.products__title {
  @include card_title;
  margin: 70px rem(20) 32px;
}

.products__btn {
  @include button_font;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  margin: 0 rem(20);
  margin-bottom: -65px;
  padding: 18px rem(38);
  padding-top: 20px;
  color: $dark;
  background-color: $white;
  transition: $duration_03 $duration_03;
}

.products__item:hover,
.products__item:focus {
  &::after {
    height: 100%;
    transition: $transition, height 0.3s;

    // @media screen and (-ms-high-contrast: active),
    // (-ms-high-contrast: none) {
    //   transform: translate(0, -100%) translate(-50%, 100%);
    // }

  }

  .products__number {
    &::before {
      left: calc(100% - 23px);
      transition: $duration_03 $duration_03;
    }

    span {
      &::before {
        right: -1*rem(100);
        transition: $duration_03 $duration_03;
      }

      &::after {
        left: 0;
        transition: $duration_03 $duration_03;
      }
    }
  }

  .products__btn {
    margin-top: -14px;
    margin-bottom: 20px;
    transition: $duration_03;
  }
}
