@keyframes scroll {
  0% {
    top: 9.5px;
    height: 9.5px;
  }

  25% {
    top: 19.5px;
    height: 9.5px;
  }

  50% {
    top: 29.5px;
    height: 0;
  }

  75% {
    top: 9.5px;
    height: 0;
  }

  100% {
    top: 9.5px;
    height: 9.5px;
  }
}

@keyframes blink {
  0% {
    opacity: $opacity_02;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: $opacity_02;
  }
}

@keyframes before_opacity {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
