@function rem($size) {
  @return $size*1px / $main_font*1rem;
}

@function decimal_round($number, $digits: 0, $mode: round) {
  $n: 1;

  @if type-of($number) !=number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }

  @if type-of($digits) !=number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  }

  @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }

  @if $digits>0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }

  @if $mode==round {
    @return round($number * $n)/$n;
  }

  @else if $mode==ceil {
    @return ceil($number * $n)/$n;
  }

  @else if $mode==floor {
    @return floor($number * $n)/$n;
  }

  @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@mixin font($size, $line_height) {
  font-size: rem($size);
  line-height: decimal_round($line_height/$size*100%);
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  min-width: initial;
  height: 1px;
  min-height: initial;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

@mixin background($name, $type, $background_color, $is_tablet: "false", $is_mobile: "false") {
  @if $background_color !='false' {
    background-color: $background_color;
  }

  background-repeat: no-repeat;
  background-image: url("../img/#{$name}__desktop@1x.#{$type}");

  @media (min-resolution: $retina_dpi),
  (min-resolution: $retina_dppx) {
    background-image: url("../img/#{$name}__desktop@2x.#{$type}");
  }

  @if $is_tablet=='true' {
    @media (max-width: $tablet_max) {
      background-image: url("../img/#{$name}__tablet@1x.#{$type}");

      @media (min-resolution: $retina_dpi),
      (min-resolution: $retina_dppx) {
        background-image: url("../img/#{$name}__tablet@2x.#{$type}");
      }
    }
  }

  @if $is_mobile=='true' {
    @media (max-width: $mobile_max) {
      background-image: url("../img/#{$name}__mobile@1x.#{$type}");

      @media (min-resolution: $retina_dpi),
      (min-resolution: $retina_dppx) {
        background-image: url("../img/#{$name}__mobile@2x.#{$type}");
      }
    }
  }
}

@mixin page_title {
  @include font($fs_120, $lh_132);
  font-weight: 400;
  text-align: center;
  letter-spacing: $ls_009;
  text-transform: uppercase;

  @media (max-width: $tablet_max) {
    @include font($fs_70, $lh_77);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_30, $lh_42);
  }
}

@mixin page_block_title {
  @include font($fs_50, $lh_55);
  font-weight: 400;
  letter-spacing: $ls_009;
  text-transform: uppercase;

  @media (max-width: $tablet_max) {
    @include font($fs_40, $lh_44);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_20, $lh_28);
  }
}

@mixin page_block_text {
  @include font($fs_18, $lh_27);

  @media (max-width: $tablet_max) {
    @include font($fs_20, $lh_24);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_18, $lh_22);
  }
}

@mixin button_font {
  @include font($fs_12, $lh_13);
  text-align: center;
  letter-spacing: $ls_015;
  text-transform: uppercase;

  @media (max-width: $tablet_max) {
    @include font($fs_15, $lh_17);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_10, $lh_11);
  }
}

@mixin block_title($catalog: "false") {
  @include font($fs_30, $lh_51);
  font-weight: 400;
  letter-spacing: $ls_006;
  text-transform: uppercase;
  color: $white;

  @if ($catalog=="catalog") {
    @include font($fs_30, $lh_33);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_20, $lh_34);
  }
}

@mixin card_title {
  @include font($fs_16, $lh_27);
  font-weight: 400;
  letter-spacing: $ls_010;
  text-transform: uppercase;
  color: rgba($white, $opacity_09);
}

@mixin footer_link {
  @include font($fs_16, $lh_18);
  color: rgba($white, $opacity_05);

  @media (max-width: $tablet_max) {
    @include font($fs_20, $lh_22);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_16, $lh_18);
  }
}

@mixin menu_link($hover: "false") {
  @include font($fs_35, $lh_39);
  letter-spacing: $ls_009;
  text-transform: uppercase;
  color: rgba($white, $opacity_05);
  text-align: center;

  @media (max-width: $tablet_max) {
    @include font($fs_30, $lh_33);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_15, $lh_17);
  }

  @if ($hover=="hover") {
    @include font($fs_45, $lh_50);
    color: $white;

    @media (max-width: $tablet_max) {
      @include font($fs_45, $lh_50);
    }

    @media (max-width: $mobile_max) {
      @include font($fs_25, $lh_28);
      max-width: 250px;
    }
  }
}

@mixin popup_title {
  @include font($fs_20, $lh_32);
  font-weight: 400;
  letter-spacing: $ls_009;
  text-transform: uppercase;
  color: $white;
  text-align: center;

  @media (max-width: $tablet_max) {
    @include font($fs_30, $lh_42);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_20, $lh_32);
  }
}

@mixin popup_input($isPlaceholder: "false") {
  @include font($fs_14, $lh_15);
  letter-spacing: $ls_m_010;
  color: $white;

  @if ($isPlaceholder=="true") {

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      color: $white !important;
    }
  }

  @media (max-width: $tablet_max) {
    @include font($fs_20, $lh_22);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_14, $lh_15);
  }
}

@mixin popup_button {
  @include font($fs_11, $lh_12);
  letter-spacing: $ls_015;
  text-align: center;
  color: $dark;
  text-transform: uppercase;

  @media (max-width: $tablet_max) {
    @include font($fs_15, $lh_17);
  }

  @media (max-width: $mobile_max) {
    @include font($fs_11, $lh_12);
  }
}

@mixin container ($max_width, $padding: 0) {
  width: 100%;
  max-width: $max_width*1px + $padding*2px;
  margin: 0 auto;
  padding: 0 $padding*1px;
}

@mixin before {
  position: absolute;
  content: "";
  display: flex;
}

@mixin gradient($deg) {
  background-image: linear-gradient($deg*1deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
}
