@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Forum";

  font-display: swap;
  src: url("../fonts/forum-400.woff2") format("woff2"), url("../fonts/forum-400.woff") format("woff");
}
