.ui {
  display: flex;
  flex-direction: column;
  max-width: $desktop_max;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  background-color:$accent_1;
}

.ui__item {
  position: relative;
  padding: 20px;
  border: 1px solid darkgray;
}
