.button {
  @include button;
  @include button_font;
  padding: 19px 30px 16px;
  border: 1px solid $white;
  color: $white;
  transition: $transition;

  &:active {
    color: $black;
    background-color: $white;
    opacity: $opacity;
  }
}

.button--back_opacity {
  background-color: rgba($black, $opacity_04);
}

.button--back_dark {
  @include font($fs_11, $lh_12);
  border: 1px solid transparent;
  background-color: $dark;
}

@media (max-width: $tablet_max) {
  .button {
    padding: 22px 20px 20px;
  }

  .button--back_dark {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: $mobile_max) {
  .button {
    padding: 19px 30px 17px;
  }
}

@media (min-width: $no_mobile) {

  .button:hover,
  .button:focus {
    color: $black;
    background-color: $white;
  }
}
