.title {
  @include block_title;
  position: relative;
  margin: 0;
  display: flex;

  &::after {
    @include before;
    height: 2px;
    width: 85.5px;
    bottom: -16px;
    left: 0;
    background-color: $white;
  }
}

.title--catalog {
  @include block_title("catalog");

  &::after {
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: $tablet_max) {
  .title {
    text-align: center;
    align-self: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .title--catalog {
    &::after {
      left: calc(50% - 13px);
      bottom: -23px;
    }
  }
}

@media (max-width: $mobile_max) {
  .title {
    &::after {
      left: 0;
      transform: none;
    }
  }

  .title--catalog {
    &::after {
      display: none;
    }
  }
}
