.wrapper {
  @include container(2070);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.wrapper__content {
  flex: 1 0 auto;
}

.wrappper__header {
  @include background("preamble", "jpg", $accent_1, "true");
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-size: cover;
  background-position: center;

  &::after,
  &::before {
    @include before;
    position: absolute;
    width: 75px;
    height: 100%;
    top: 0;
  }

  &::after {
    @include gradient(-90);
    right: calc(50% - 1920px / 2 - 75px);
  }

  &::before {
    @include gradient(90);
    left: calc(50% - 1920px / 2 - 75px);
  }
}

@media (max-width: $desktop_max) {
  .wrapper {
    @include container(1920);
  }
}

@media (max-width: $mobile_max) {
  .wrappper__header {
    background-image: none;
  }
}
